@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@theme {
  --color-blueText: #0F172A;
  --color-blueLink: #2563EB;
  --color-orange: #EA580C;
  --color-blueGray: #475569;
  --color-yellow: #FACC15;
  --font-roboto: "Roboto", sans-serif;
  --shadow-boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
