.swiper-button-next-custom svg {
    fill: black;
    transition: all 0.3s;
}

.swiper-button-prev-custom svg {
    fill: black;
    transition: all 0.3s;
}

.swiper-button-disabled svg {
    fill: white;
    transition: all 0.3s;
}

.swiper-pagination {
    padding-left: 72px;
    width: auto !important;
    transition: all 0.3s;
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 100%;
    transition: all 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: black;
    width: 32px;
    border-radius: 10px;
    transition: all 0.3s;
}

@media (max-width: 1279px) {
    .swiper-pagination {
      bottom: 300px !important;
      padding-left: 0;
    }
  }